# Assignment Number 1: Python and Pandas

---

Name: Shiming Xiong

---

---

Net id: sx368

---

The goal of the assignment is to test your knowledge on basic Pandas operations. You will work on this exercise using the patent data in our shared drive on the CUSP ADRF. The data dictionary can be found in the folder with the data. Please answer the following questions by using the data mentioned above. You will receive 1 points for each question that is answered correctly. A correct answer consists of the code that generates the answer followed by a text cell that answer the question in a sentence. Please keep in mind that the notebook you submit has to be executable, this means, has to run entirely without producing errors. 

The assignment is based on the notebook we did in our lecture. You will find most of the code needed to complete the assignment in the lecture notebook. Sometimes you have to make slights adjustment. Reading the text in the lecture notebook will help you make these adjustments. Don't worry if you get error messages. It usually works pretty well to copy the error message and paste it into a google search. If this doesn't help, please reach out to your classmates or us. We are here to help you in case you struggle. This assignment might seem a lot for the first week. But please don't worry. But once you are more familiar with how Python works it should not be a problem. This is the process of learning a new language. If you start working on the assignment before the next class we will have plenty of time to answer your question and help. 

** QUESTIONS:**

1. Load the dataset "assignee" that is located in the Data folder under patents in our shared drive on the CUSP ADRF and find out the number of rows and columns in the dataset
2. Select the first 50 rows of the assignee data sorted by id and display them. Which is the organization in row 26?
3. How many unique assignee names are in the file? A name in this case is a full name consisting of first and last name.

*Tip: you can find example code in the lecture notebook you can copy to answer these three questions. When loading the dataset pay attention to the format of the dataset. Python sometimes struggles with identifying the exact number of columns which can result in a conflict. In case this happens, there are options you can use to fix this. Here you can find the full list of options https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html*


4. Merge the location file for the assignee and keep the records that match. Please read the data documentation to find out how files need to be merged. You need to merge multiple files in order to match location to assignee

*Tip: We have done a merge in our lecture notebook. You can use this syntax as baseline. However, you might need to adjust this one as the ids you will be using to merge the data are not the same. All available merge options are documented here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html*


5. Generate a new dataframe called assignee that contains the name of the organization, the assignee id, the type, and city    state, country, latitude, longitude, county, state_fips, county_fips
6. Save this dataframe as .csv file in your home directory

*Tip: For these two items you will find code snippets in the lecture notebook again.*


7. Merge the location file for the inventor and keep the records that match. Please read the data documentation to find out how files need to be merged. You need to merge multiple files in order to match location to inventor
8. Generate a new dataframe called inventor that contains the name of the inventor, the inventor id, and city, state, country, latitude, longitude, county, state_fips, county_fips
9. Save this dataframe as .csv file in your home directory

*Tip: This should be an easy one if you have 5-6. It's the same code. Or in case you want to test your Python skills you can try constructing a loop.*


10. Which state in the US has the highest number of assignees? How many?

*Tip: The lecture notebook will give you example code to calculate that number. Oftentimes we we are interested in a statistic for different entities grouping helps to generate these values.*

## Question 1:

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
import pandas as pd

In [4]:
%pwd

u'/projects/wagner_ada_2019/user/sx368'

In [5]:
%cd '~/projects/wagner_ada_2019/shared/Data'

/projects/wagner_ada_2019/shared/Data

In [6]:
df = pd.read_csv('patents/assignee.tsv', delimiter = "\t", encoding = "utf8")

In [7]:
df.shape

(383348, 5)

In [8]:
print ("the number of rows is 383348, and the number of rows is 5 ")

the number of rows is 383348, and the number of rows is 5

## Question 2:

In [9]:
df.count()

id              383348
type            383348
name_first       41057
name_last        41058
organization    342289
dtype: int64

In [10]:
df.head()

,id,type,name_first,name_last,organization
0,00003f5c5d92354570b9bae01b3e7272,2,NaN,NaN,"E-Z Anchor Bolt Template, Inc."
1,000058159cdbf11415ffad8001c192f6,3,NaN,NaN,Roll and Go AG
2,00005a7b722c0d70af7c0f6706cdc067,2,NaN,NaN,PERSCITUS INNOVATIONS LLC
3,00007b72e8f46f63797266c63ad3a34f,2,NaN,NaN,"Fleetwood Aluminum Products, Inc."
4,000099cec50350524fc0704f0cdd8db6,3,NaN,NaN,B.V. Nederlandse Industrie Van Eiprodukten

In [11]:
(df[['id', 'type', 'name_first', 'name_last', 'organization']].head(50).sort_values(['id'], ascending=[True]))

,id,type,name_first,name_last,organization
0,00003f5c5d92354570b9bae01b3e7272,2,NaN,NaN,"E-Z Anchor Bolt Template, Inc."
1,000058159cdbf11415ffad8001c192f6,3,NaN,NaN,Roll and Go AG
2,00005a7b722c0d70af7c0f6706cdc067,2,NaN,NaN,PERSCITUS INNOVATIONS LLC
3,00007b72e8f46f63797266c63ad3a34f,2,NaN,NaN,"Fleetwood Aluminum Products, Inc."
4,000099cec50350524fc0704f0cdd8db6,3,NaN,NaN,B.V. Nederlandse Industrie Van Eiprodukten
5,00010ed73d92d44448d6a95ea2bdfc82,2,NaN,NaN,Kirkplastic Company Incorporated
6,00012f928641d531b8cd4604135b4426,3,NaN,NaN,LIVSMED INC.
7,0001d6d0409910f2ea924c371ecbfbad,5,Ziyan,Liu,NaN
8,0001fec1a13a81b11892a8a1b7e9e26a,2,NaN,NaN,"Terrybear, Inc."
9,000297b2fe80676ac2443715ece07065,3,NaN,NaN,Evince Technology Limited
10,0002ca8fa44fafd53223a9c280f0a302,3,NaN,NaN,Shanghai A&S Science Technology Development Co...
11,0002cb9ed9c80bb4d5118517da40d6b7,2,NaN,NaN,Supreme Premium Products Inc.
12,0002f31315a48b02cf1911e0f4274965,3,NaN,NaN,Coretek Opto Corporation
13,00032dc66f4fbe33d98542427fbf286a,2,NaN,NaN,Almo Manifold & Tool Company
14,0003307889ecfc5d06d4035795628ed2,2,NaN,NaN,"D. Gioielli, Inc."
15,0003a4cb6aa22e585478331b1937529d,2,NaN,NaN,"Western Reserve Electronics, Inc."
16,0003f46cdb3278b996c83205095deeb0,5,NaN,NaN,Mats Thulin AB
17,00045b45518d59431ec0a6bd48bc1df3,2,NaN,NaN,Mayo Foundation
18,00045e7585e9e231e1fa572845775569,3,NaN,NaN,Megomat AG
19,0004b94ec20b59f96c0cbfc7afb0d8f1,3,NaN,NaN,Airbus DS Limited
20,0004d228d44fd0816cba5cdebedf8fa4,3,NaN,NaN,"Tokan Material Technology Co., Ltd."
21,0004eb61fbc3fb2dfb2c72a8d458751c,2,NaN,NaN,"Advantage Industries, Inc."
22,000513c5c6deb9da259c8d831adf4297,3,NaN,NaN,Lawson Automotive Inc.
23,00052ca72a0568cf8a0e7bef1f069510,2,NaN,NaN,"MadGrip Holdings, LLC"
24,000536f0ae96cbeaf0fa2bd882efe2cd,3,NaN,NaN,Arrow Line S.r.l.
25,00055501bcc96f72d89fd41b44bbde7c,4,James,Rosa,NaN
26,00058979304632a95c9b697e4705aacd,2,NaN,NaN,"Young Microbrush, LLC"
27,0005a2307b9f4eaaabc44c8cec1c8f1f,3,NaN,NaN,"Dragon Heart Medical Devices Co., Ltd."
28,0005a9078efc46e2183cc01a07541e85,2,NaN,NaN,Multi-Metal Wire Cloth Inc.
29,0005ad9738860051dad6509e1a418fb7,2,NaN,NaN,Logitech Incorporated
30,0005c3e6a482c01654865c0ba9ba24fc,2,NaN,NaN,"INTERNATIONAL FRUIT GENETICS, LLC"
31,0005eb340ec633d8189c5f4cd64a82a7,3,NaN,NaN,"POINT TEK CO., LTD."
32,00062227de055ff58a3ba573d8e6a8f1,3,NaN,NaN,Societe Anonyme d'Etudes et Realisations Nucle...
33,00067f67be87d2760efeba6fd80b9b83,3,NaN,NaN,Keranor AS
34,000692a7987648ea9f8d51f85fed9738,3,NaN,NaN,AC (MACAO COMMERCIAL OFFSHORE) LIMITED
35,00069df8436eaba43cce847550924d3c,3,NaN,NaN,"Yet Chang Mobile Goods Co., Ltd."
36,0006cf31181f448066041d857b63b73f,2,NaN,NaN,"Material Technologies & Sciences, Inc."
37,0006e14ec83bf24868d9ac5782456b09,2,NaN,NaN,"Cabot Norit Americas, Inc."
38,000742d190f44e7b696f40d7f37a70c1,3,NaN,NaN,Battenford GmbH
39,0007a5170a90e0b3147c93d13c7d517b,3,NaN,NaN,PROVIDES METALMECCANICA S.R.L.
40,0007b52fab24284c653913badef77a1d,2,NaN,NaN,"SeaSeer R&D, LLC"
41,0007e2e6fc8cbd1a77d4c6e803e2696d,3,NaN,NaN,Association pour la Recherche et le Developpment
42,0007e46ca7de21b409e044dff1766cb0,2,NaN,NaN,"Tagcorp, Inc."
43,0008191c116cf73dff9eb974625c8fd8,2,NaN,NaN,Pacific Dynamic
44,00084624dc16536898132e79a9a4ac82,3,NaN,NaN,Cabletrade Industries Inc.
45,000848e0e8c2d73038a508ef4583c1cb,2,NaN,NaN,Vymed Corporation
46,0008592d867e96051a29e9dbc4daa3b8,2,NaN,NaN,"Biochaiv Institute, Inc."
47,00086e48c03743df512b764131c2cf4e,2,NaN,NaN,"Happy Cabinet, LLC"
48,00086eda5c2fe32c98e8d0e7633c3f9e,2,NaN,NaN,ADTV World
49,000873da1b80add15d921f93722d3d7f,3,NaN,NaN,Timerax Holdings Ltd.

In [15]:
print('the organization that is in row 26 is '+ str(df.loc[26, 'organization']))

the organization that is in row 26 is Young Microbrush, LLC

## Question 3

In [80]:
df['unique_name']=df['name_first']+' '+ df['name_last']

In [81]:
df.head(10)

,id,type,name_first,name_last,organization,unique_name
0,00003f5c5d92354570b9bae01b3e7272,2,NaN,NaN,"E-Z Anchor Bolt Template, Inc.",NaN
1,000058159cdbf11415ffad8001c192f6,3,NaN,NaN,Roll and Go AG,NaN
2,00005a7b722c0d70af7c0f6706cdc067,2,NaN,NaN,PERSCITUS INNOVATIONS LLC,NaN
3,00007b72e8f46f63797266c63ad3a34f,2,NaN,NaN,"Fleetwood Aluminum Products, Inc.",NaN
4,000099cec50350524fc0704f0cdd8db6,3,NaN,NaN,B.V. Nederlandse Industrie Van Eiprodukten,NaN
5,00010ed73d92d44448d6a95ea2bdfc82,2,NaN,NaN,Kirkplastic Company Incorporated,NaN
6,00012f928641d531b8cd4604135b4426,3,NaN,NaN,LIVSMED INC.,NaN
7,0001d6d0409910f2ea924c371ecbfbad,5,Ziyan,Liu,NaN,Ziyan Liu
8,0001fec1a13a81b11892a8a1b7e9e26a,2,NaN,NaN,"Terrybear, Inc.",NaN
9,000297b2fe80676ac2443715ece07065,3,NaN,NaN,Evince Technology Limited,NaN

In [85]:
len (df['unique_name'].unique())

41058

In [86]:
print('the number of unique names is 41058')

the number of unique names is 41058

## Question 4

In [87]:
%cd '~/projects/wagner_ada_2019/shared/Data'

/projects/wagner_ada_2019/shared/Data

In [88]:
df2 = pd.read_table('patents/location.tsv', delimiter = "\t", encoding = "utf8", error_bad_lines=False)

Skipping line 8186: expected 9 fields, saw 10
Skipping line 47666: expected 9 fields, saw 10

Skipping line 95596: expected 9 fields, saw 10
Skipping line 116945: expected 9 fields, saw 10

In [89]:
merge_df = pd.merge(df, df2, on=["id"], how="outer")

In [32]:
merge_df.shape

(509541, 13)

In [33]:
merge_df.head()

,id,type,name_first,name_last,organization,city,state,country,latitude,longitude,county,state_fips,county_fips
0,00003f5c5d92354570b9bae01b3e7272,2.0,NaN,NaN,"E-Z Anchor Bolt Template, Inc.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000058159cdbf11415ffad8001c192f6,3.0,NaN,NaN,Roll and Go AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00005a7b722c0d70af7c0f6706cdc067,2.0,NaN,NaN,PERSCITUS INNOVATIONS LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00007b72e8f46f63797266c63ad3a34f,2.0,NaN,NaN,"Fleetwood Aluminum Products, Inc.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000099cec50350524fc0704f0cdd8db6,3.0,NaN,NaN,B.V. Nederlandse Industrie Van Eiprodukten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Question 5

In [34]:
df_assignee=(merge_df[['organization', 'id', 'type', 'city', 'state', 'country', 'latitude', 'longitude', 'county', 'state_fips', 'county_fips']])

In [35]:
df_assignee.head()

,organization,id,type,city,state,country,latitude,longitude,county,state_fips,county_fips
0,"E-Z Anchor Bolt Template, Inc.",00003f5c5d92354570b9bae01b3e7272,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Roll and Go AG,000058159cdbf11415ffad8001c192f6,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PERSCITUS INNOVATIONS LLC,00005a7b722c0d70af7c0f6706cdc067,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Fleetwood Aluminum Products, Inc.",00007b72e8f46f63797266c63ad3a34f,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B.V. Nederlandse Industrie Van Eiprodukten,000099cec50350524fc0704f0cdd8db6,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Question 6

In [36]:
%pwd

u'/projects/wagner_ada_2019/shared/Data'

In [37]:
%cd '~/projects/wagner_ada_2019/user/sx368'

/projects/wagner_ada_2019/user/sx368

In [38]:
merge_df.to_csv(r"~/df_assignee.csv", sep='\t',encoding='utf8')

## Question 7

In [39]:
%cd '~/projects/wagner_ada_2019/shared/Data'

/projects/wagner_ada_2019/shared/Data

In [40]:
df3 = pd.read_table('patents/inventor.tsv', delimiter = "\t", encoding = "utf8", error_bad_lines=False)

In [41]:
df3.head()
#inventor

          id  name_first   name_last
0  3930274-1   Harold A.     Syfritt
1  3930275-1     Richard      Bailin
2  3930276-1   Russel A.  Van Brakel
3  3930277-1  Richard F.       Wulff
4  3930278-1  Richard A.       Nasca

In [42]:
df2.head()
#location file

,id,city,state,country,latitude,longitude,county,state_fips,county_fips
0,0009wn7out97,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN
1,000fg4sjgke4,Kiryat Ekron,NaN,IL,31.8575,34.82230,NaN,NaN,NaN
2,000zaps28vbi,Bridge City Westwego,LA,US,29.9179,-90.16630,Jefferson Parish,22.0,51.0
3,00103bqdnpjb,Emelgem,West-Vlaanderen,BE,50.9333,3.21667,NaN,NaN,NaN
4,002boplmzbw6,12:00 AM,NRW,DE,51.4580,6.61411,NaN,NaN,NaN

In [43]:
df4=pd.read_table('patents/location_inventor.tsv', delimiter = "\t", encoding = "utf8", error_bad_lines=False)

In [44]:
df4.head()
#location inventor

    location_id inventor_id
0  1lsd4phk95cz   4789863-1
1  biq6nmd69tyv   6795487-2
2  x54og9phjnpf   4856493-1
3  08gq1corg1ae   8204697-1
4  e3ouollnf0yk   3955100-1

In [45]:
merge_df2=pd.merge(df3, df4, left_on = 'id', right_on ='inventor_id')

In [46]:
merge_df2.head()

          id name_first   name_last   location_id inventor_id
0  3930274-1  Harold A.     Syfritt  0v996oszcgwn   3930274-1
1  3930274-1  Harold A.     Syfritt  rt8b3vclgmdx   3930274-1
2  3930275-1    Richard      Bailin  bb0ha4nfi6m5   3930275-1
3  3930276-1  Russel A.  Van Brakel  glbd6s8gbjzi   3930276-1
4  3930276-1  Russel A.  Van Brakel  glbd6s8gbjzi   3930276-1

In [47]:
merge_df3=pd.merge(df2,merge_df2, left_on = 'id', right_on ='location_id')

In [48]:
merge_df3.head()
#location and inventor

,id_x,city,state,country,latitude,longitude,county,state_fips,county_fips,id_y,name_first,name_last,location_id,inventor_id
0,0009wn7out97,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN,3930453-2,Erich,Willenbacher,0009wn7out97,3930453-2
1,0009wn7out97,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN,3930453-2,Erich,Willenbacher,0009wn7out97,3930453-2
2,0009wn7out97,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN,3930453-2,Erich,Willenbacher,0009wn7out97,3930453-2
3,0009wn7out97,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN,3930453-2,Erich,Willenbacher,0009wn7out97,3930453-2
4,0009wn7out97,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN,3930453-2,Erich,Willenbacher,0009wn7out97,3930453-2

## Question 8

In [49]:
df_inventor=(merge_df3[['name_first', 'name_last', 'inventor_id', 'city', 'state', 'country', 'latitude', 'longitude', 'county', 'state_fips', 'county_fips']])

In [50]:
df_inventor.head()

,name_first,name_last,inventor_id,city,state,country,latitude,longitude,county,state_fips,county_fips
0,Erich,Willenbacher,3930453-2,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN
1,Erich,Willenbacher,3930453-2,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN
2,Erich,Willenbacher,3930453-2,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN
3,Erich,Willenbacher,3930453-2,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN
4,Erich,Willenbacher,3930453-2,Kaiserslautern,NaN,DE,49.4123,7.69879,NaN,NaN,NaN

## Question 9

In [57]:
%cd '~/projects/wagner_ada_2019/user/sx368'

/projects/wagner_ada_2019/user/sx368

In [59]:
df_inventor.to_csv(r"~/df_inventor_location.csv", sep='\t',encoding='utf8')

## Question 10

In [60]:
merge_df.state.value_counts()

England                 3583
CA                      2707
PA                      2446
NY                      2353
Bayern                  1694
TX                      1686
IL                      1650
OH                      1477
MI                      1354
Baden-Wurttemberg       1265
NJ                      1231
FL                      1136
BY                      1125
MN                      1056
Lombardia               1006
BW                       990
New South Wales          975
NC                       975
MO                       960
VA                       942
WI                       915
IN                       852
MA                       847
Rhone-Alpes              835
IA                       822
GA                       815
Rheinland-Pfalz          791
WA                       777
NRW                      761
MD                       734
                        ...
Kaarina                    1
Omagh                      1
Marrakesh-Tensift-El       1
Ipiros Ditiki Makedo       1
Comunitat Valenciana       1
Provincia de San Jos       1
Taiwan Province            1
Borjomis Raioni            1
Guam                       1
Mayo-Kebbi Est             1
Hajjah                     1
West Pomeranian Voiv       1
Ulsan-gwangyoksi           1
Ajdovscina                 1
Stuttgart                  1
Alvkarleby                 1
Orebro                     1
Manipoer                   1
Samkir                     1
Messina                    1
Pingtung County            1
Lund                       1
Green Turtle Cay           1
Phangnga                   1
Streymoy                   1
Jizan                      1
Ogun State                 1
Chuvashia Republic         1
Biltine                    1
Morovis                    1
Name: state, dtype: int64

In [73]:
print('California with 2707 asignees is the state with the highest assignee number.')

California with 2707 asignees is the state with the highest assignee number.